/* Write your CSS here */
.bg-container {
  background-color: #ffffff;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-container {
  background-image: linear-gradient(to top, #b5b9ff, #2b2c49);
  background-size: cover;
  height: 300px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.heading {
  color: #ffffff;
  font-family: Roboto;
}
.btn-1 {
  background-color: #ffffff;
  font-family: Roboto;
  color: #2b2c49;
  border: 0px;
  border-radius: 10px;
  font-weight: 500px;
  height: 40px;
  width: 100px;
  font-size: 15px;
  font-weight: 400;
}
.btn-2 {
  background-color: #ffffff;
  font-family: Roboto;
  color: #2b2c49;
  border: 2px;
  border-color: #000000;
  border-radius: 10px;
  font-weight: 500px;
  height: 40px;
  width: 100px;
  font-size: 15px;
  font-weight: 400;
}
